<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head', { title: 'Liste des réservations' }) %>
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <h1 class="container mt-5">Réservations</h1>
    </header>
    <main>
        <div class="container mt-5">
            <a href="/reservations/add" class="btn btn-success mb-3">Nouvelle Réservation</a>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Catway</th>
                        <th>Nom</th>
                        <th>Bateau</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% reservations.forEach(reservation => { %>
                        <tr>
                            <td><%= reservation.catwayNumber %></td>
                            <td><%= reservation.clientName %></td>
                            <td><%= reservation.boatName %></td>
                            <td><%= reservation.startDate %></td>
                            <td><%= reservation.endDate %></td>
                            <td>
                                <a href="/reservations/<%= reservation._id %>/edit" class="btn btn-warning btn-sm">Modifier</a>
                                <form action="/reservations/<%= reservation._id %>?_method=DELETE" method="POST" style="display:inline;">
                                    <button class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
            </table>
            <a href="/dashboard/view">Retour tableau de bord</a>

        </div>
    </main>
        <footer>
            <%- include('../partials/footer') %>
</footer>

<%- include('../partials/script') %>
</body>
</html>
